<p> Hello <strong> <%= @workorder.technician_id.email %> </strong> you have receive a new workorders on the Yuman app. </p>

<p>--------   Basic Info: -----------</p>

<ul>
  <li> Date of the workorder: <%= @workorder.date_planned %></li>
  <li> Address: <%= @workorder.address %> </li>
</ul>

<p> Find more info straight from your account. </p>

<p> Kind regards,</p>

<p> Yuman team </p>

