#padding_zero {
  padding: 0px;
}

.form-control {
  margin: 5px;
  padding: 2px;
}

#inlineFormInputGroupUsername2 {
  border-right: 10px none;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: initial;
}

#no_margin {
  margin: 0px;
  padding: 0px;
}

.no-gutter {
  height:100%;
  width:100%;
}

#margin_padding {
  margin: 0px;
}
