<% @title = "Work Order Change" %>

<% content_for :description do %>
  <h4>Edit a Work Order </h4>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
