<% @title = "New Work Order" %>

<% content_for :description do %>
  <h4>Create a new Work Order </h4>
  <% end %>

  <div class="container">
    <div class="row">
      <div id="content" class="col-12 col-md-9">
        <div class="card ">
          <div class="card-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>

    </div>
  </div>
