<% @title = "New Work Order" %>


<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <% content_for :description do %>
      <h4>Create a new Work Order </h4>
      <% end %>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div id="content" class="col-12 col-md-12">
        <div class="card ">
          <div class="card-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>

    </div>
  </div>
