

<div class="container">


  <div class="row">
     <div class="card card-tile-hero col-sm text-center" >
    <h4 id="welcome"> Welcome <%= current_user.email %> </h4>
    </div>
  </div>

  <div class="row">

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-unlock display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>OPEN</small>
        <h3 class="m-0 leading-normal">254</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-calendar display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>SCHEDULED</small>
        <h3 class="m-0 leading-normal">597</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-timer display-1 text-brand-primary-lightest"></i>
      </div>

      <div class="card-body text-center">
        <small>IN PROGRESS</small>
        <h3 class="m-0 leading-normal">54</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-lock display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>DONE</small>
        <h3 class="m-0 leading-normal">1,358</h3>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <%= render 'map' %>
</div>

