

<div class="container">


  <div class="row">
     <div class="card card-tile-hero col-sm text-center" >
    <h4 id="welcome"> <small> Welcome <%= current_user.email %> </small></h4>
    </div>
  </div>

  <div class="row">

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-eye display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>PAGE VIEWS</small>
        <h3 class="m-0 leading-normal">3,261</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-bolt-alt display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CITIZEN ARRESTS</small>
        <h3 class="m-0 leading-normal">2,985</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-hand-stop display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>INCARCERATIONS</small>
        <h3 class="m-0 leading-normal">99,654</h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-face-sad display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>CONVICTIONS</small>
        <h3 class="m-0 leading-normal">13,617</h3>
      </div>

    </div>
  </div>
</div>
