<div class="">
  <div class="container col-12" id ="no_margin">
    <div class="row no-gutter bg-dark p-5 " id ="margin_padding">
      <div class="col-12">
        <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
          <div class="d-flex flex-row flex-wrap align-items-center justify-content-start">
            <img src="../../assets/rrt/pyrrmid_64-358e6a66b8417ea853d0507672b757411c4c7bb389cb91e8a24c71c33698ee79.png"
            class="mr-3" width="32" height="32">
            <h6 class="text-white m-0 mr-4">YUMAN</h6>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <a href="javascript:" class="text-hover-light">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:" class="text-hover-light">About</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:" class="text-hover-light">Projects</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:" class="text-hover-light">Contact</a>
              </li>
            </ul>
          </div>
          <p class="small text-muted m-0">© 2018 ‐ YUMAN INC</p>
        </div>
      </div>
    </div>
  </div>
</div>
